main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15%;
    max-width: 100%;
}

.country-info{
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 30px;
    width: 28%;
}

path:hover{
    fill: crimson;
    stroke: gainsboro;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 5px;
    color: gray;
}